```markdown
# Module 3: Data Structures Assignments

## Lesson 3.2: Tuples

### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.
```

In [2]:
#1
tpl = [i for i in range(1, 11)]
print(tpl)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
#2
fist, middle, last = tpl[0], tpl[1:4], tpl[-1]
print(fist, middle, last)

1 [2, 3, 4] 10

In [13]:
#3
print(tpl[:3], tpl[-3:], tpl[1:4])

[1, 2, 3] [8, 9, 10] [2, 3, 4]

In [14]:
#4
tpl = [[1,2,3], [4,5,6], [7,8,9]]
print(tpl[1][2])

6

In [31]:
import random
#5
print([1,2,3] + [4,5,6])

#6
tpl = [5, 6, 6, 9, 7, 3, 2, 3, 8, 2, 7, 4, 8, 6, 5, 6, 3, 2, 9]
print(tpl)
print(tpl.index(3))

#7
tpl=[1,2,3,4,5]
a,b,c,d,e = tpl
print(a,b,c,d,e)

#8
tpl = (1, 2, 3, 4, 5)
lst=list(tpl)
print(lst)
print(tpl)
lst.append(6)
tpl=tuple(lst)
print(tpl)

#9
tpl=((1,2,3), (4,5,6), (7,8,9))
print(tpl)

#10
tpl = (1, 2, 3, 4, 5)
lst=list(tpl)
print(lst)
print(tpl)
lst.append(6)
tpl=tuple(lst)
print(tpl)

#11
tpl=('k', 'a', 'r', 't', 'h', 'i', 'k')
str=''.join(tpl)
print(str)

[1, 2, 3, 4, 5, 6]
[5, 6, 6, 9, 7, 3, 2, 3, 8, 2, 7, 4, 8, 6, 5, 6, 3, 2, 9]
5
1 2 3 4 5
[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5, 6)
((1, 2, 3), (4, 5, 6), (7, 8, 9))
[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5, 6)
karthik

In [40]:
#12
dic = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50}

#13
tpl=((1,2), (3,4), (5,6))
s = [j for i in tpl for j in i]
print(s)

#14
tpl = (5, 6, 6, 9, 7, 3, 2, 3, 8, 2, 7, 4, 8, 6, 5, 6, 3, 2, 9)
set1=set(tpl)
print(set1)

#15
tpl = (1,2,3,4,5,6,7,8,9,10)
print(min(tpl), max(tpl), sum(tpl))

[1, 2, 3, 4, 5, 6]
{2, 3, 4, 5, 6, 7, 8, 9}
1 10 55